
  *{
  margin: 0;
  padding: 0;
  font-size: 14;
  font-family: fraunces , Monserrat;
  }
  

  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    flex-direction: column;
}
 
#wrapper{

 display: flex;
    flex-direction: row;
     display: flex;
    flex-direction: row;
    height: 420px;
    width: 570px;
    border-radius: 20px;
    background-color:hsl(0, 0%, 100%);
}

img{
 width: 50%;
 border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
#description-wrapper{

  gap:20px;
  display: flex;
  border: solid;
  flex-direction: column;
  width: 290px;
  border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}


#title-wrapper{
margin-top: 20px;
  margin-left: 20px;
}
 
 
#title-wrapper .perfume-text{
font-size:10px;
margin-bottom: 10px;
font-weight: 500;
font-family: Montserrat; 
color: hsl(228, 12%, 48%)
}

h2 {
margin-top: 5px;
font-size: 30px;
width: 200px;
color: hsl(212, 21%, 14%);


}

#description{
font-size: 14px;
color: hsl(228, 12%, 48%);
font-family: Montserrat;
font-weight: 500;
width: 230px;
margin-left: 20px;
margin-bottom: 0px;

}

#price-description{
width: 290px;
margin-left: 20px;
}

.price1{
font-size:2rem;
width: 100px;
color: hsl(158, 36%, 37%);
font-family: Fraunces;

}
.price2{
margin-left:9px;
text-decoration: line-through;
color: hsl(228, 12%, 48%);
font-family: Montserrat;
font-size:1rem;
font-weight: 500;
}

button{
margin-top: 17px;
width: 80%;
margin-left: 20px;
padding: 18px 18px 18px 18px;
border-radius: 10px;
border: none;
background-color: hsl(158, 36%, 37%);
color:hsl(0, 0%, 100%) ;
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
cursor: pointer;

}

button:hover{
background-color: hsl(159, 36%, 43%);
}
button:active{
background-color: hsl(159, 20%, 35%);

}

.cart-pic{
width: 10px; /* Adjust the width as needed */
height: 10px; /* Adjust the height as needed */
margin-right: 9px;
padding: 0;

}